// showing default values 272D47 A9BAC7
$accentColor = #272D47
$textColor =  #2c3e50
//$textColor = #eee
$borderColor = #eaecef
$codeBgColor = #282c34
$badgeTipColor = #42b983
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961